[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pydantic = "*"
google-genai = "*"
black = "*"
uvicorn = "*"
google-generativeai = "*"
pytz = "*"
tzdata = "*"
numpy = "*"
pandas = "*"
yfinance = "*"
fastapi = "*"
python-dateutil = "*"
fastapi-mcp = "*"
sentence-transformers = "*"
qdrant-client = "*"
langchain-community = "*"
pypdf = "*"
langchain-text-splitters = "*"
streamlit = "*"
watchdog = "*"
mcp = "*"
modelcontextprotocol = "*"

[dev-packages]

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
