[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
python-dotenv = "*"
pydantic = "*"
google-genai = "*"
black = "*"
uvicorn = "*"
google-generativeai = "*"
mcp = "*"
fastapi-mcp = "*"
pytz = "*"
tzdata = "*"
numpy = "*"
pandas = "*"
yfinance = "*"
fastapi = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.13"

[pipenv]
allow_prereleases = true
